// @import './base/animations.less';
// @import './base/helpers.less';
// @import './base/mixins.less';
// @import './base/reset.less';
// @import './base/structure.less';
// @import './base/typography.less';

@import "./base/settings.scss";
@import "./base/mixins.scss";

$size-player-controls-button-height: 15px;
$size-player-controls-button-height-mini: 15px;

[data-player] {
  height: 100% !important;
}

.media-control[data-media-control] {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;

  &.media-control-hide {
    .media-control-background[data-background] {
      opacity: 0;
    }
    .media-control-layer[data-controls] {
      bottom: -50px;
      .bar-container[data-seekbar] {
        .bar-scrubber[data-seekbar] {
          opacity: 0;
        }
      }
    }
  }

  &.dragging {
    pointer-events: auto;
    cursor: -webkit-grabbing !important;
    cursor: grabbing !important;
    * {
      cursor: -webkit-grabbing !important;
      cursor: grabbing !important;
    }
  }

  .media-control-background[data-background] {
    position: absolute;
    height: 40%;
    width: 100%;
    bottom: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    transition: opacity 0.6s ease-out;
  }

  .media-control-layer[data-controls] {
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 50px;
    font-size: 0;
    vertical-align: middle;
    pointer-events: auto;
    transition: bottom 0.4s ease-out;
    display: flex;
    flex-direction: column;

    button.media-control-button {
      border: 0;
      margin: 0 6px;
      width: 32px;
      height: 100%;
    }

    button.media-control-button,
    .drawer-icon {
      // &:extend(.hover-opacity all);
      width: 32px;
      height: 32px;
      cursor: pointer;
      background-color: $color-grey;

      &:hover {
        background-color: $color-white;
      }

      &:focus {
        outline: none;
      }

      svg {
        display: none;
      }

      &-volume {
        margin: 0;
        width: 15px;
      }

      &-fullscreen {
        position: absolute;
        right: 30px;
        top: 30px;
        // transition: transform .8s $ease-smooth, opacity .3s;
        width: $size-player-controls-button-height;
        z-index: $zindex-player-button-fullscreen;

        // .query-mini({
        //   height: 20px;
        //   width: 20px;
        // });

        .hide-controls & {
          transform: translate3d(0, -60px, 0);
          // transition: transform .65s $ease-smooth, opacity .3s;
        }

        .button-fullscreen-svg {
          fill: $color-white;
        }
      }
    }

    $bar-height: 2.5px;

    .media-control-top-panel[data-media-control] {
      order: 0;
      width: 100%;
      flex: 0 0 15px;
    }

    .media-control-bottom-panel {
      order: 1;
      display: flex;
      width: 100%;
      flex: 1 1 0;
      position: relative;
      top: -4px;

      .media-control-left-panel[data-media-control] {
        flex: 0 0 50%;
      }

      .media-control-right-panel[data-media-control] {
        flex: 0 0 50%;
        justify-content: flex-end;
      }
    }

    [data-media-control] {
      display: flex;
      align-items: center;
      width: 100%;
      order: 1;
      flex: 1 1 0;

      [data-hd-indicator] {
        display: none;
      }

      .bar-container[data-seekbar] {
        display: flex;
        align-items: center;
        width: 100%;
        cursor: pointer;
        height: 15px;

        .bar-background[data-seekbar] {
          background: $color-grey;
          height: $bar-height;
          top: 0px;
          width: 100%;
          position: relative;

          .bar-fill-1[data-seekbar] {
            background: $color-white;
            height: $bar-height;
            transition: all 0.1s ease-out;
          }

          .bar-fill-2[data-seekbar] {
            position: absolute;
            background: linear-gradient(to right,$color-purple-dark, $color-purple);
            transition: all 0.1s ease-out;
            top: 0;
            height: 100%;
          }

          .bar-hover[data-seekbar] {
            top: -3px;
            position: absolute;
            width: 4px;
            height: 9px;
            background-color: rgba(255, 255, 255, 0.5);
            transition: opacity 0.1s ease;
            opacity: 0;
          }
        }

        &:hover {
          .bar-background[data-seekbar] {
            .bar-hover[data-seekbar] {
              opacity: 1;
            }
          }
        }

        .bar-scrubber[data-seekbar] {
          background: $color-white;
          border-radius: 50%;
          content: "";
          position: absolute;
          height: 10px;
          width: 10px;
          top: 2px;
          transition: all 0.1s ease-out;

          &:before {
            content: "";
            position: absolute;
            top: -4px;
            left: -4px;
            height: 18px;
            width: 18px;
            border-radius: 50%;
            background: $color-grey;
            opacity: 0.5;
          }
        }
      }

      [data-playpause] {
        background-color: $color-purple;
        order: 0;
        float: none;
        @include mask-image("../assets/img/pause-icon.svg");

        &.video-paused {
          @include mask-image("../assets/img/play-icon.svg");
          mask-size: 20px 20px;
          -webkit-mask-size: 20px 20px;
        }

        &:hover {
          background-color: lighten($color-purple, 5%);
        }
      }

      [data-volume] {
        order: 1;

        &.drawer-icon {
          @include mask-image("../assets/img/volume-icon.svg");

          &.muted {
            @include mask-image("../assets/img/mute-icon.svg");
          }
        }

        &.drawer-container {
          display: flex;
          align-items: center;
          margin: 0 6px;
        }
        &.bar-container {
          float: none;
          top: 0;
          margin-right: 0;
          width: 42px;
          transition: width 0.2s ease-out;

          .segmented-bar-element {
            box-shadow: $color-grey 2px 0 0;
            float: left;
            width: 4px;
            padding-left: 2px;
            height: 12px;
            opacity: 0.5;
            box-shadow: inset 2px 0 0 white;
            transition: transform 0.2s ease-out;

            &.fill {
              box-shadow: inset 2px 0 0 #fff;
              opacity: 1;
            }

            &:nth-of-type(1) {
              padding-left: 0;
            }

            &:hover {
              transform: scaleY(1.5);
            }
          }
        }
      }

      [data-seekbar] {
        order: 2;
      }

      [data-duration],
      [data-position] {
        font-size: 14px;
        color: $color-white;
        font-weight: 600;
      }

      [data-position] {
        order: 1
      }

      [data-duration] {
        &:before {
          content: "/";
        }
        order: 2;
      }

      [data-fullscreen] {
        order: 4;
        float: none;
        @include mask-image("../assets/img/fullscreen-icon.svg");
      }
    }
  }
}
